<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glorious | Предметы</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <style>
        body {
            background-color: #1a1a1a;
            font-family: 'Acrom';
            margin: 0;
        }

        .type {
            width: 66px;
            height: 66px;
            position: relative;
            background: #202020;
            border-radius: 11px;
            border: 2px solid #ca49d7;
            margin-bottom: 15px;
            cursor: pointer;
            transition: 0.1s;
        }

        .disable {
            filter: grayscale(1);
            box-shadow: none;
            border: 2px solid #202020;
        }

        .type:hover {
            box-shadow: #9b59b933 5px 5px, #9b59b91a 10px 10px, #9b59b90d 15px 15px;
            filter: grayscale(0);
        }

        .type .frame {
            width: 45px;
            height: 45px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #292929;
            border-radius: 6px;
            border: 2px solid #353535;
            overflow: hidden;
        }

        .type .frame img {
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .card {
            position: relative;
            background: #202020;
            box-shadow: #9b59b933 5px 5px, #9b59b91a 10px 10px, #9b59b90d 15px 15px;
            border-radius: 11px;
            padding-top: 35px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 35px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .card .title {
            font-family: 'Acrom';
            font-size: 22px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 30px;
            text-align: center;
        }

        .card input {
            width: calc(100% - 24px);
            position: relative;
            background: #292929;
            border-radius: 6px;
            border: 1.5px solid #292929;
            font-family: 'Acrom';
            font-size: 14px;
            color: #fff;
            padding-top: 15px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 15px;
            margin-bottom: 20px;
        }

        .card input:focus {
            box-shadow: none;
            border: 1.5px solid #ca49d7;
            outline: none;
        }

        .card input[type="file"] {
            width: calc(100% - 24px);
            position: relative;
            background: #292929;
            border-radius: 6px;
            border: 1.5px solid #292929;
            font-family: 'Acrom';
            font-size: 14px;
            color: #fff;
            padding-top: 12px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 12px;
            margin-bottom: 20px;
        }

        .card input[type="file"]:focus {
            box-shadow: none;
            border: 1.5px solid #ca49d7;
            outline: none;
        }

        .card select {
            width: 100%;
            background: #292929;
            border-radius: 6px;
            border: 1.5px solid #292929;
            font-family: 'Acrom';
            font-size: 14px;
            color: #fff;
            padding-top: 15px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 15px;
            margin-bottom: 20px;
        }

        .card select:focus {
            box-shadow: none;
            border: 1.5px solid #ca49d7;
            outline: none;
        }

        .line {
            width: 100%;
            height: 2px;
            background: #606060;
            border-radius: 40px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .card button {
            background: #ca49d7;
            border-radius: 6px;
            border: none;
            color: #fff;
            font-family: 'Acrom';
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 8px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 9px;
            cursor: pointer;
            transition: 0.1s;
        }

        .card button:hover {
            transform: perspective(1000px) translate3d(0, 0, 60px);
        }
    </style>

    <div class="container" style="height: 100vh;">
        <div class="row" style="height: 100vh;">
            <div class="d-none d-md-block col-md-2 col-lg-4">
                <div class="d-flex justify-content-end">
                    <div style="margin-top: 30px;">
                        <div id="type_weapon" class="type" onclick="$('#type_weapon').removeClass('disable'); $('#type_armor').addClass('disable'); $('#weapon').removeClass('d-none'); $('#armor').addClass('d-none');">
                            <div class="frame">
                                <img src="https://wiki.hypixel.net/images/4/46/Minecraft_items_golden_sword.png">
                            </div>
                        </div>

                        <div id="type_armor" class="type disable" onclick="$('#type_weapon').addClass('disable'); $('#type_armor').removeClass('disable'); $('#weapon').addClass('d-none'); $('#armor').removeClass('d-none');">
                            <div class="frame">
                                <img
                                    src="https://wiki.hypixel.net/images/a/a3/Minecraft_items_leather_chestplate_green.png">
                            </div>
                        </div>

                        <div class="type disable">
                            <div class="frame">
                                <img src="https://wiki.hypixel.net/images/3/38/Minecraft_items_blaze_powder.png">
                            </div>
                        </div>

                        <div class="type disable">
                            <div class="frame">
                                <img src="https://wiki.hypixel.net/images/5/55/Minecraft_items_nether_brick.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">

                <div id="weapon" class="card">
                    <form action="" method="post" enctype="multipart/form-data">
                        <p class="title">Оружие</p>

                        <input id="name" name="name" placeholder="Название" type="text" required>

                        <input id="image" name="image" placeholder="Изображение" type="file" accept=".png" required>

                        <select id="rarity" name="rarity" required>
                            <option>Обычный</option>
                            <option>Необычный</option>
                            <option>Редкий</option>
                            <option>Эпический</option>
                            <option>Героический</option>
                            <option>Легендарный</option>
                            <option>Мифический</option>
                            <option>Демонический</option>
                            <option>Божественный</option>
                        </select>

                        <input id="level" name="level" placeholder="Необходимый уровень" type="number" required>

                        <div class="row">
                            <div class="col-6">
                                <select id="weapon_type" name="Тип оружия">
                                    <option>Лук</option>
                                    <option>Одноручный меч</option>
                                    <option>Двуручный меч</option>
                                    <option>Посох</option>
                                    <option>Кинжал</option>
                                    <option>Арбалет</option>
                                    <option>Боевой посох</option>
                                    <option>Копье</option>
                                    <option>Рапира</option>
                                    <option>Боевой молот</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select id="damage_type" name="Тип урона">
                                    <option>Дробящий</option>
                                    <option>Режущий</option>
                                    <option>Колющий</option>
                                    <option>Огненный</option>
                                    <option>Земляной</option>
                                    <option>Водный</option>
                                    <option>Воздушный</option>
                                    <option>Чистый</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <input id="damage" name="Урон" placeholder="Урон" type="number">
                            </div>
                            <div class="col-6">
                                <input id="vampirism" name="Вампиризм" placeholder="Вампиризм" type="number">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <input id="critical_damage" name="Критический урон" placeholder="Крит. урон"
                                    type="number">
                            </div>
                            <div class="col-6">
                                <input id="critical_chance" name="Вероятность крита" placeholder="Крит. шанс"
                                    type="number">
                            </div>
                        </div>

                        <input id="proficiency_level" name="Требуемый уровень владения" placeholder="Уровень владения"
                            type="number">

                        <div class="line"></div>

                        <input id="password" name="password" placeholder="Пароль" type="password" required>

                        <div class="d-flex justify-content-center">
                            <button type="submit">Добавить</button>
                        </div>
                    </form>
                </div>

                <div id="armor" class="card d-none">
                    <form action="" method="post" enctype="multipart/form-data">
                        <p class="title">Броня</p>

                        <input id="name" name="name" placeholder="Название" type="text" required>

                        <input id="image" name="image" placeholder="Изображение" type="file" accept=".png" required>

                        <select id="rarity" name="rarity" required>
                            <option>Обычный</option>
                            <option>Необычный</option>
                            <option>Редкий</option>
                            <option>Эпический</option>
                            <option>Героический</option>
                            <option>Легендарный</option>
                            <option>Мифический</option>
                            <option>Демонический</option>
                            <option>Божественный</option>
                        </select>

                        <input id="level" name="level" placeholder="Необходимый уровень" type="number" required>

                        <div class="row g-3">
                            <div class="col-4">
                                <input id="health" name="Здоровье" placeholder="ХП" type="number">
                            </div>
                            <div class="col-4">
                                <input id="defense" name="Защита" placeholder="Защита" type="number">
                            </div>
                            <div class="col-4">
                                <input id="mana" name="Мана" placeholder="Мана" type="number">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <input id="movement_speed" name="Скорость передвижения" placeholder="Скорость" type="number">
                            </div>
                            <div class="col-6">
                                <input id="damage_reduction" name="Модификатор урона" placeholder="Мод. урона" type="number">
                            </div>
                        </div>

                        <div class="line"></div>

                        <input id="password" name="password" placeholder="Пароль" type="password" required>

                        <div class="d-flex justify-content-center">
                            <button type="submit">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-none d-md-block col-md-2 col-lg-4"></div>
        </div>
    </div>
</body>

</html>