<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glorious | Классы</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="discord" onclick="window.open('https://discord.gg/2FbAMjeNmH', '_blank');">
        <i class="fa-brands fa-discord"></i>
    </div>
    <div class="bg-wave">
        <img class="logo" src="img/logo.png">
        <img class="background" src="img/bg-home.png">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: relative;">
            <path fill="#1a1a1a" fill-opacity="1"
                d="M0,96L120,122.7C240,149,480,203,720,202.7C960,203,1200,149,1320,122.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="bg">
        <div class="container">
            <nav>
                <div class="d-flex justify-content-between">
                    <div class="nav-link" onclick="window.location = '/'">
                        <p class="d-inline-flex"><a>Главная</a></p>
                    </div>
                    <div class="nav-link" onclick="window.location = '/classes'">
                        <p class="d-inline-flex"><a>Классы</a></p>
                    </div>
                    <div class="nav-link" onclick="window.location = '/items'">
                        <p class="d-inline-flex"><a>Предметы</a></p>
                    </div>
                    <div class="nav-link" onclick="window.open('http://m10.joinserver.xyz:25639/', '_blank');">
                        <p class="d-inline-flex"><a>Локации</a></p>
                    </div>
                    <div class="nav-link">
                        <p class="d-inline-flex" style="border-radius: 8px 8px 0 0;"><a>Существа</a><i
                                class="fa-solid fa-chevron-down"></i></p>
                        <div class="dropdown">
                            <p><a href="/creatures/characters">Персонажи</a></p>
                            <div class="line"></div>
                            <p><a href="/creatures/enemies">Противники</a></p>
                            <div class="line"></div>
                            <p><a href="/creatures/bosses">Боссы</a></p>
                        </div>
                    </div>
                    <div class="nav-link">
                        <p class="d-inline-flex" style="border-radius: 8px 8px 0 0;"><a>Квесты</a><i
                                class="fa-solid fa-chevron-down"></i></p>
                        <div class="dropdown">
                            <p><a href="/quests/plot">Сюжетное&nbsp;прохождение</a></p>
                            <div class="line"></div>
                            <p><a href="/quests/side">Побочные&nbsp;задания</a></p>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="nav-line"></div>

            <div class="hero-classes">
                <div class="d-flex justify-content-center">
                    <p class="d-inline-flex global-title">Игровые классы</p>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="global-line"></div>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="d-inline-flex global-desc">Перечень всех классов, которые может выбрать игрок для игры</p>
                </div>

                <div class="row g-5">
                    <div class="col-4">
                        <div class="card">
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex title">Воин</p>

                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex subtitle">Герой ближнего боя</p>
                            </div>
                            <div class="frame">
                                <div class="d-flex justify-content-center" style="height: 100%;">
                                    <img
                                        src="https://cdn.discordapp.com/attachments/1191014765435301949/1191026133005762560/2.png">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex title">Паладин</p>

                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex subtitle">Герой ближнего боя</p>
                            </div>
                            <div class="frame">
                                <div class="d-flex justify-content-center" style="height: 100%;">
                                    <img
                                        src="https://static.wikia.nocookie.net/lotrminecraftmod/images/e/e4/GondorianRenegade.png">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex title">Лучник</p>

                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex subtitle">Герой дальнего боя</p>
                            </div>
                            <div class="frame">
                                <div class="d-flex justify-content-center" style="height: 100%;">
                                    <img
                                        src="https://static.wikia.nocookie.net/lotrminecraftmod/images/9/98/GondorArcher.png">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex title">Вор</p>

                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex subtitle">Герой ближнего боя</p>
                            </div>
                            <div class="frame">
                                <div class="d-flex justify-content-center" style="height: 100%;">
                                    <img
                                        src="https://static.wikia.nocookie.net/lotrminecraftmod/images/c/ca/HaradBandit.png">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex title">Маг</p>

                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="d-inline-flex subtitle">Герой дальнего боя</p>
                            </div>
                            <div class="frame">
                                <div class="d-flex justify-content-center" style="height: 100%;">
                                    <img
                                        src="https://static.wikia.nocookie.net/lotrminecraftmod/images/b/bd/GreyWanderer.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <img src="img/logo.png">
                        <div style="width: 520px;">
                            <p class="copyright">Copyright © Glorious 2022-2023. Все права защищены.<br>Права на игру Minecraft
                                принадлежат Mojang Studios и никак не связаны с Glorious. Вебсайт Glorious не относится к Mojang
                                Studios.<br><br>Вебсайт был разработан by <a href="https://github.com/florida-12" target="_blank">Florida</a></p>
                        </div>
                    </div>
                    
                    <div>
                        <ul>      
                            <li><a href="https://discord.gg/2FbAMjeNmH" target="_blank">Наш дискорд-сервер</a></li>
                            <li><a href="">Условия использования</a></li>
                            <li><a href="">Партнерские программы</a></li>
                            <li style="margin-bottom: 0;"><a href="">Сообщить об ошибке</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>