<footer>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <img src="/img/logo.png">
                <div style="width: 520px;">
                    <p class="copyright">Copyright © Glorious 2022-2023. Все права защищены.<br>Права на игру Minecraft
                        принадлежат Mojang Studios и никак не связаны с Glorious. Вебсайт Glorious не относится к Mojang
                        Studios.<br><br>Вебсайт был разработан by <a href="https://github.com/florida-12" target="_blank">Florida</a></p>
                </div>
            </div>
            
            <div>
                <ul>      
                    <li><a href="https://discord.gg/2FbAMjeNmH" target="_blank">Наш дискорд-сервер</a></li>
                    <li><a href="">Условия использования</a></li>
                    <li><a href="">Партнерские программы</a></li>
                    <li style="margin-bottom: 0;"><a href="">Сообщить об ошибке</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>