<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glorious | Классы</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <style>
        .archer {
            background-color: #202020;
            box-shadow: #9b59b933 5px 5px, #9b59b91a 10px 10px, #9b59b90d 15px 15px;
            border-radius: 11px;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            overflow: hidden;
        }

        .archer-title {
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: -160px;
            margin-bottom: 20px;
        }

        .archer-desc {
            width: 80%;
            color: #b1b0b0;
            font-size: 18px;
            margin-bottom: 60px;
        }

        .archer-subtitle {
            color: #ca49d7;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .archer table,
        th,
        td {
            border: 2px solid #353535;
            border-collapse: collapse;
        }

        .archer table {
            width: 79%;
            height: 140px;
            background: #292929;
            border-radius: 6px;
            border: 2px solid #353535;
            color: #fff;
            font-weight: 700;
        }

        .archer table td {
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 12px;
        }

        .archer td img {
            margin-bottom: -3px;
        }

        .archer-line {
            width: 100%;
            height: 2px;
            position: relative;
            background: #2d2d2d;
            border-radius: 40px;
            margin-top: 60px;
        }

        .archer-img {
            width: 13.5%;
            position: relative;
            background: #292929;
            border: 2px solid #353535;
            padding-top: 20px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 20px;
        }

        .archer-img img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .archer-skill {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 20px;
            margin-left: 20px;
        }

        .archer-skill img {
            width: 25px;
            border-radius: 4px;
            margin-right: 8px;
            margin-bottom: -6px;
        }

        .archer ul {
            color: #b1b0b0;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .archer .line {
            width: 80px;
            height: 2px;
            background-color: #ca49d7;
            border-radius: 40px;
            margin-top: 40px;
            margin-left: 20px;
            margin-bottom: 40px;
        }

        .archer ul li {
            margin-bottom: 3px;
        }

        .archer-tree {
            position: relative;
            background: #292929;
            border: 2px solid #353535;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            margin-top: 40px;
        }
    </style>

    <div class="discord" onclick="window.open('https://discord.gg/2FbAMjeNmH', '_blank');">
        <i class="fa-brands fa-discord"></i>
    </div>
    <div class="bg-wave">
        <img class="logo" src="/img/logo.png">
        <img class="background" src="/img/bg-home.png">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: relative;">
            <path fill="#1a1a1a" fill-opacity="1"
                d="M0,96L120,122.7C240,149,480,203,720,202.7C960,203,1200,149,1320,122.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="bg">
        <div class="container">
            <nav>
                <div class="d-flex justify-content-between">
                    <div class="nav-link" onclick="window.location = '/'">
                        <p class="d-inline-flex"><a>Главная</a></p>
                    </div>
                    <div class="nav-link" onclick="window.location = '/classes'">
                        <p class="d-inline-flex"><a>Классы</a></p>
                    </div>
                    <div class="nav-link" onclick="window.location = '/items'">
                        <p class="d-inline-flex"><a>Предметы</a></p>
                    </div>
                    <div class="nav-link" onclick="window.open('http://m10.joinserver.xyz:25639/', '_blank');">
                        <p class="d-inline-flex"><a>Локации</a></p>
                    </div>
                    <div class="nav-link">
                        <p class="d-inline-flex" style="border-radius: 8px 8px 0 0;"><a>Существа</a><i
                                class="fa-solid fa-chevron-down"></i></p>
                        <div class="dropdown">
                            <p><a href="/creatures/characters">Персонажи</a></p>
                            <div class="line"></div>
                            <p><a href="/creatures/enemies">Противники</a></p>
                            <div class="line"></div>
                            <p><a href="/creatures/bosses">Боссы</a></p>
                        </div>
                    </div>
                    <div class="nav-link">
                        <p class="d-inline-flex" style="border-radius: 8px 8px 0 0;"><a>Квесты</a><i
                                class="fa-solid fa-chevron-down"></i></p>
                        <div class="dropdown">
                            <p><a href="/quests/plot">Сюжетное&nbsp;прохождение</a></p>
                            <div class="line"></div>
                            <p><a href="/quests/side">Побочные&nbsp;задания</a></p>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="nav-line"></div>

            <div class="archer">
                
                <div class="d-flex justify-content-between">
                    <table>
                        <tr>
                            <td>—————————</td>
                            <td style="color: #d23139;">Здоровье <img src="/img/icon-health.png"></td>
                            <td style="color: #2399d8;">Мана <img src="/img/icon-mana.png"></td>
                            <td>Восстановление здоровья</td>
                            <td>Восстановление маны</td>
                        </tr>
                        <tr>
                            <td>На старте</td>
                            <td>36</td>
                            <td>18</td>
                            <td>0.5</td>
                            <td>0.4</td>
                        </tr>
                        <tr>
                            <td>За уровень</td>
                            <td>+3.5</td>
                            <td>+0.5</td>
                            <td>+0.02</td>
                            <td>+0.05</td>
                        </tr>
                    </table>
                    <div class="archer-img">
                        <img src="/img/archer.png">
                    </div>
                </div>
                
                <p class="archer-title">Лучник</p>
                <p class="archer-desc">Лучник - мощный класс дальнего боя, способный в одиночку наносить гигантское кол-во урона. Среднее количество здоровья и способности позволяют иметь отличную выживаемость. Его основной урон - это колющий.</p>

                <div>
                    <div class="archer-line"></div>
                    <p class="archer-subtitle">Специальные умения</p>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192091203844448276/gust.png">
                        Порыв тьмы
                    </p>
                    <ul>
                        <li>Богиня Тимора защищает своих слуг от опасности.</li>
                        <li>Игрок создаёт порыв тьмы перед собой, при попадании - цель начинает идти назад в течение 2 секунд. Наложит эффект немоты и нанесёт урон монстрам.</li>
                        <li>Тип навыка - аэротеургия.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192092366258053120/skills73.png">
                        Капканы
                    </p>
                    <ul>
                        <li>Лучники любят делать засады и ловушки, капканы отлично их дополняют.</li>
                        <li>Игрок получает возможность поставить 3 капкана, каждый капкан стоит 120 секунд.</li>
                        <li>Тип навыка - точность.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192096521148170240/icon_backstep.png">
                        Прыжок
                    </p>
                    <ul>
                        <li>Если лучник чувствует опасность, он может сразу-же отступить.</li>
                        <li>Лучник совершает моментальный прыжок назад.</li>
                        <li>Тип навыка - аэротеургия.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192096959125794816/icon_deadly_javelin.png">
                        Смертельный прострел
                    </p>
                    <ul>
                        <li>Лучник выпускает особую стрелу, которая способна убить даже дракона.</li>
                        <li>Выпускает перед собой стрелу, которая отбросит цель и наложит эффект слабости.</li>
                        <li>Тип навыка - аэротеургия.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192098182696542249/icon_dragon_piercer.png">
                        Дух дракона
                    </p>
                    <ul>
                        <li>Дух дракона, который испепелит всех на своем пути.</li>
                        <li>Выпускает перед собой дух дракона, она пробивает все цели на своем пути и наносит урон. Также, на цели будет применён эффект адского пламени.</li>
                        <li>Тип навыка - пирокинез.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192098579536429176/icon_windrazor.png">
                        Дождь из стрел
                    </p>
                    <ul>
                        <li>Ходят легенды, что только самые могучие лучники могут в одиночку вызвать дождь из стрел.</li>
                        <li>Вокруг игрока начинается дождь из стрел.</li>
                        <li>Тип навыка - точность.</li>
                    </ul>
                    <div class="archer-line"></div>
                    <p class="archer-subtitle">Пассивные умения</p>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192087462831476777/passiveskillsarcher.png">
                        Зачарованные стрелы
                    </p>
                    <ul>
                        <li>Лучники чаруют свои стрелы перед использованием, такие стрелы имеют свойство возвращаться.</li>
                        <li>Шанс 30% вернуть стрелу при выстреле.</li>
                        <li>Тип навыка - точность.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192093107748094063/skills564.png">
                        Сумеречный выстрел
                    </p>
                    <ul>
                        <li>В тьме ночи, лучники могут пользоваться силой Тиморы. Такая сила пронзает саму душу.</li>
                        <li>Шанс нанести увеличиный урон при выстреле.</li>
                        <li>Тип навыка - отсутствует.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="archer-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1192095463319548034/p6.png">
                        Ловкость рейнжера
                    </p>
                    <ul>
                        <li>Тренировки скорости дали лучнику возможность уворачиваться от ударов противников.</li>
                        <li>Увеличивает шанс уклонения.</li>
                        <li>Тип навыка - отсутствует.</li>
                    </ul>
                </div>

                <div>
                    <div class="archer-line"></div>
                    <p class="archer-subtitle">Древо улучшений</p>
                    <div class="archer-tree">
                        <img style="width: 100%;" src="https://cdn.discordapp.com/attachments/1190030669083070566/1193319409788403762/image_2024-01-05_05-07-08.png">
                    </div>
                </div>
            </div>
        </div>

        <%- footer %>
    </div>
</body>

</html>