<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glorious | Классы</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <style>
        .paladin {
            background-color: #202020;
            box-shadow: #9b59b933 5px 5px, #9b59b91a 10px 10px, #9b59b90d 15px 15px;
            border-radius: 11px;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            overflow: hidden;
        }

        .paladin-title {
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: -160px;
            margin-bottom: 20px;
        }

        .paladin-desc {
            width: 80%;
            color: #b1b0b0;
            font-size: 18px;
            margin-bottom: 60px;
        }

        .paladin-subtitle {
            color: #ca49d7;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .paladin table,
        th,
        td {
            border: 2px solid #353535;
            border-collapse: collapse;
        }

        .paladin table {
            width: 79%;
            height: 140px;
            background: #292929;
            border-radius: 6px;
            border: 2px solid #353535;
            color: #fff;
            font-weight: 700;
        }

        .paladin table td {
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 12px;
        }

        .paladin td img {
            margin-bottom: -3px;
        }

        .paladin-line {
            width: 100%;
            height: 2px;
            position: relative;
            background: #2d2d2d;
            border-radius: 40px;
            margin-top: 60px;
        }

        .paladin-img {
            width: 13.5%;
            position: relative;
            background: #292929;
            border: 2px solid #353535;
            padding-top: 20px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 20px;
        }

        .paladin-img img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .paladin-skill {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 20px;
            margin-left: 20px;
        }

        .paladin-skill img {
            width: 25px;
            border-radius: 4px;
            margin-right: 8px;
            margin-bottom: -6px;
        }

        .paladin ul {
            color: #b1b0b0;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .paladin .line {
            width: 80px;
            height: 2px;
            background-color: #ca49d7;
            border-radius: 40px;
            margin-top: 40px;
            margin-left: 20px;
            margin-bottom: 40px;
        }

        .paladin ul li {
            margin-bottom: 3px;
        }

        .paladin-tree {
            position: relative;
            background: #292929;
            border: 2px solid #353535;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            margin-top: 40px;
        }
    </style>

    <div class="discord" onclick="window.open('https://discord.gg/2FbAMjeNmH', '_blank');">
        <i class="fa-brands fa-discord"></i>
    </div>
    <div class="bg-wave">
        <img class="logo" src="/img/logo.png">
        <img class="background" src="/img/bg-home.png">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: relative;">
            <path fill="#1a1a1a" fill-opacity="1"
                d="M0,96L120,122.7C240,149,480,203,720,202.7C960,203,1200,149,1320,122.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="bg">
        <div class="container">
            <nav>
                <div class="d-flex justify-content-between">
                    <div class="nav-link" onclick="window.location = '/'">
                        <p class="d-inline-flex"><a>Главная</a></p>
                    </div>
                    <div class="nav-link" onclick="window.location = '/classes'">
                        <p class="d-inline-flex"><a>Классы</a></p>
                    </div>
                    <div class="nav-link" onclick="window.location = '/items'">
                        <p class="d-inline-flex"><a>Предметы</a></p>
                    </div>
                    <div class="nav-link" onclick="window.open('http://m10.joinserver.xyz:25639/', '_blank');">
                        <p class="d-inline-flex"><a>Локации</a></p>
                    </div>
                    <div class="nav-link">
                        <p class="d-inline-flex" style="border-radius: 8px 8px 0 0;"><a>Существа</a><i
                                class="fa-solid fa-chevron-down"></i></p>
                        <div class="dropdown">
                            <p><a href="/creatures/characters">Персонажи</a></p>
                            <div class="line"></div>
                            <p><a href="/creatures/enemies">Противники</a></p>
                            <div class="line"></div>
                            <p><a href="/creatures/bosses">Боссы</a></p>
                        </div>
                    </div>
                    <div class="nav-link">
                        <p class="d-inline-flex" style="border-radius: 8px 8px 0 0;"><a>Квесты</a><i
                                class="fa-solid fa-chevron-down"></i></p>
                        <div class="dropdown">
                            <p><a href="/quests/plot">Сюжетное&nbsp;прохождение</a></p>
                            <div class="line"></div>
                            <p><a href="/quests/side">Побочные&nbsp;задания</a></p>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="nav-line"></div>

            <div class="paladin">
                
                <div class="d-flex justify-content-between">
                    <table>
                        <tr>
                            <td>—————————</td>
                            <td style="color: #d23139;">Здоровье <img src="/img/icon-health.png"></td>
                            <td style="color: #2399d8;">Мана <img src="/img/icon-mana.png"></td>
                            <td>Восстановление здоровья</td>
                            <td>Восстановление маны</td>
                        </tr>
                        <tr>
                            <td>На старте</td>
                            <td>45</td>
                            <td>18</td>
                            <td>1</td>
                            <td>0.2</td>
                        </tr>
                        <tr>
                            <td>За уровень</td>
                            <td>+6</td>
                            <td>+0.2</td>
                            <td>+0.01</td>
                            <td>+0.01</td>
                        </tr>
                    </table>
                    <div class="paladin-img">
                        <img src="/img/paladin.png">
                    </div>
                </div>
                
                <p class="paladin-title">Паладин</p>
                <p class="paladin-desc">Паладин - выносливый класс ближнего боя, его способности позволяют держать в состоянии оглушения большое количество целей. Большой запас здоровья и способности предоставляют отличную выживаемость. Его основной урон - дробящий.</p>

                <div>
                    <div class="paladin-line"></div>
                    <p class="paladin-subtitle">Специальные умения</p>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199669612913119302/icon_holy_strike_e.png">
                            Святой разрез
                    </p>
                    <ul>
                        <li>Поставьте врагов на колени перед святой силой.</li>
                        <li>Игрок создаёт перед собой разрез, наносящий урон всем целям. +20% урона за каждую задетую цель.</li>
                        <li>Тип навыка - мощь.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199669986222936115/icon_unbreakable_will_e.png">
                            Щит богини Мэры
                    </p>
                    <ul>
                        <li>Используя силу богини, паладин перестаёт испытывать страх.</li>
                        <li>Игрок призывает щит и делает рывок вперёд, оглушает все цели и наносит им урон, а также накладывает на игрока эффект воодушевления.</li>
                        <li>Тип навыка - мощь.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199670320265695303/icon_last_stand_e.png">
                            Истинная вера
                    </p>
                    <ul>
                        <li>Ваша вера настолько сильна, что вы можете использовать крупицу настоящей силы Мэры.</li>
                        <li>Игрок создаёт вихрь божественной энергии, которая наносит урон всем целям, а также лечит самого игрока.</li>
                        <li>Тип навыка - телосложение.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199670832474099792/skills378.png">
                            Провокация
                    </p>
                    <ul>
                        <li>Злить врага - иногда полезно.</li>
                        <li>Провоцирует всех монстров в радиусе действия.</li>
                        <li>Тип навыка - телосложение.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199671172242083890/icon_hammer_of_justice_e.png">
                            Божественный суд
                    </p>
                    <ul>
                        <li>Вынесите вердикт своим божественным молотом и упокойте души грешных.</li>
                        <li>Игрок призывает молот, который при ударе оглушает и наносит урон всем игрокам в радиусе действия.</li>
                        <li>Тип навыка - мощь.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199671569216180224/icon_heavenly_shield_e.png">
                            Благословение небожителей
                    </p>
                    <ul>
                        <li>Высшие силы оберегают вас.</li>
                        <li>Призывает на игрока или цель щит, который блокирует весь урон и накладывает эффект благословения.</li>
                        <li>Тип навыка - телосложение.</li>
                    </ul>
                    <div class="paladin-line"></div>
                    <p class="paladin-subtitle">Пассивные умения</p>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199669164604936292/skills781.png">
                            Божественное предначертание
                    </p>
                    <ul>
                        <li>Паладин уничтожает всех монстров на своем пути.</li>
                        <li>Наносит дополнительный урон по монстрам. 50% от знач. силы + 7% от вашего макс. здоровья. Также навык восстановит 7% от макс. здоровья игрока.</li>
                        <li>Тип навыка - мощь.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199672371519430786/passiveskillspaladin.png">
                            Стойкость паладина
                    </p>
                    <ul>
                        <li>Изнурительные тренировки дают игроку сопротивление к урону.</li>
                        <li>Шанс 80% на получение эффекта при ударе. Эффект блокирует X% урона.</li>
                        <li>Тип навыка - телосложение.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="paladin-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1199672699161690272/skills317.png?ex=65c36544&is=65b0f044&hm=6bd9dca807cda99af3a042bdac51d22ff67a70f3e52de677faf1734c6414a527&">
                            Дух чемпиона
                    </p>
                    <ul>
                        <li>Богиня Мэра карает всех, кто посмеет идти против её чемпионов.</li>
                        <li>Отражает X% урона обратно игроку которуй атакует вас.</li>
                        <li>Тип навыка - телосложение.</li>
                    </ul>
                </div>

                <div>
                    <div class="paladin-line"></div>
                    <p class="paladin-subtitle">Древо улучшений</p>
                    <div class="paladin-tree">
                        <img style="width: 100%;" src="https://cdn.discordapp.com/attachments/1190030669083070566/1193319409788403762/image_2024-01-05_05-07-08.png">
                    </div>
                </div>
            </div>
        </div>

        <%- footer %>
    </div>
</body>

</html>