<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glorious | Классы</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <style>
        .thief {
            background-color: #202020;
            box-shadow: #9b59b933 5px 5px, #9b59b91a 10px 10px, #9b59b90d 15px 15px;
            border-radius: 11px;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            overflow: hidden;
        }

        .thief-title {
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: -160px;
            margin-bottom: 20px;
        }

        .thief-desc {
            width: 80%;
            color: #b1b0b0;
            font-size: 18px;
            margin-bottom: 60px;
        }

        .thief-subtitle {
            color: #ca49d7;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .thief table,
        th,
        td {
            border: 2px solid #353535;
            border-collapse: collapse;
        }

        .thief table {
            width: 79%;
            height: 140px;
            background: #292929;
            border-radius: 6px;
            border: 2px solid #353535;
            color: #fff;
            font-weight: 700;
        }

        .thief table td {
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 12px;
        }

        .thief td img {
            margin-bottom: -3px;
        }

        .thief-line {
            width: 100%;
            height: 2px;
            position: relative;
            background: #2d2d2d;
            border-radius: 40px;
            margin-top: 60px;
        }

        .thief-img {
            width: 13.5%;
            position: relative;
            background: #292929;
            border: 2px solid #353535;
            padding-top: 20px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 20px;
        }

        .thief-img img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .thief-skill {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 20px;
            margin-left: 20px;
        }

        .thief-skill img {
            width: 25px;
            border-radius: 4px;
            margin-right: 8px;
            margin-bottom: -6px;
        }

        .thief ul {
            color: #b1b0b0;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .thief .line {
            width: 80px;
            height: 2px;
            background-color: #ca49d7;
            border-radius: 40px;
            margin-top: 40px;
            margin-left: 20px;
            margin-bottom: 40px;
        }

        .thief ul li {
            margin-bottom: 3px;
        }

        .thief-tree {
            position: relative;
            background: #292929;
            border: 2px solid #353535;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            margin-top: 40px;
        }
    </style>

    <div class="discord" onclick="window.open('https://discord.gg/2FbAMjeNmH', '_blank');">
        <i class="fa-brands fa-discord"></i>
    </div>
    <div class="bg-wave">
        <img class="logo" src="/img/logo.png">
        <img class="background" src="/img/bg-home.png">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: relative;">
            <path fill="#1a1a1a" fill-opacity="1"
                d="M0,96L120,122.7C240,149,480,203,720,202.7C960,203,1200,149,1320,122.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="bg">
        <div class="container">
            <nav>
                <div class="d-flex justify-content-between">
                    <div class="nav-link" onclick="window.location = '/'">
                        <p class="d-inline-flex"><a>Главная</a></p>
                    </div>
                    <div class="nav-link" onclick="window.location = '/classes'">
                        <p class="d-inline-flex"><a>Классы</a></p>
                    </div>
                    <div class="nav-link" onclick="window.location = '/items'">
                        <p class="d-inline-flex"><a>Предметы</a></p>
                    </div>
                    <div class="nav-link" onclick="window.open('http://m10.joinserver.xyz:25639/', '_blank');">
                        <p class="d-inline-flex"><a>Локации</a></p>
                    </div>
                    <div class="nav-link">
                        <p class="d-inline-flex" style="border-radius: 8px 8px 0 0;"><a>Существа</a><i
                                class="fa-solid fa-chevron-down"></i></p>
                        <div class="dropdown">
                            <p><a href="/creatures/characters">Персонажи</a></p>
                            <div class="line"></div>
                            <p><a href="/creatures/enemies">Противники</a></p>
                            <div class="line"></div>
                            <p><a href="/creatures/bosses">Боссы</a></p>
                        </div>
                    </div>
                    <div class="nav-link">
                        <p class="d-inline-flex" style="border-radius: 8px 8px 0 0;"><a>Квесты</a><i
                                class="fa-solid fa-chevron-down"></i></p>
                        <div class="dropdown">
                            <p><a href="/quests/plot">Сюжетное&nbsp;прохождение</a></p>
                            <div class="line"></div>
                            <p><a href="/quests/side">Побочные&nbsp;задания</a></p>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="nav-line"></div>

            <div class="thief">
                
                <div class="d-flex justify-content-between">
                    <table>
                        <tr>
                            <td>—————————</td>
                            <td style="color: #d23139;">Здоровье <img src="https://cdn.discordapp.com/attachments/1117777787638530099/1192202546849255454/health.png"></td>
                            <td style="color: #2399d8;">Мана <img src="https://cdn.discordapp.com/attachments/1117777787638530099/1192202546585010186/mana.png"></td>
                            <td>Восстановление здоровья</td>
                            <td>Восстановление маны</td>
                        </tr>
                        <tr>
                            <td>На старте</td>
                            <td>36</td>
                            <td>18</td>
                            <td>0.5</td>
                            <td>0.4</td>
                        </tr>
                        <tr>
                            <td>За уровень</td>
                            <td>+3.5</td>
                            <td>+0.5</td>
                            <td>+0.02</td>
                            <td>+0.05</td>
                        </tr>
                    </table>
                    <div class="thief-img">
                        <img src="/img/thief.png">
                    </div>
                </div>
                
                <p class="thief-title">Вор</p>
                <p class="thief-desc">Вор - проворный класс со cлабой выживаемостью и огромным уроном. Его способности позволяют держаться в тени и накладывать негативные эффекты на врагов. Основной тип урона - колющий.</p>

                <div>
                    <div class="thief-line"></div>
                    <p class="thief-subtitle">Специальные умения</p>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201171469808435300/icon_blade_slash.png">
                            Вырезание
                    </p>
                    <ul>
                        <li>Атака, направленная на выявление уязвимостей в защите противника.</li>
                        <li>Игрок создаёт перед собой разрез, наносящий урон всем целям. Вероятность 40% наложить эффект уязвимости.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201171853956366356/icon_shadow_walk.png">
                            Бесшумный убийца
                    </p>
                    <ul>
                        <li>Ловкость воров неподвластна времени и пространству.</li>
                        <li>Игрок получает ускорение и эффект невидимости. Следующая атака будет усилена.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201172390252654682/icon_dash.png">
                            Кровавый рывок
                    </p>
                    <ul>
                        <li>Быстрая атака, которая разрывает связки противников.</li>
                        <li>Игрок совершает рывок вперёд, нанося урон и накладывая эффект разрыва сухожилий.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201172619899187251/icon_dagger_throw.png">
                            Путь крови
                    </p>
                    <ul>
                        <li>Метательные ножи отлично отвлекают противников.</li>
                        <li>Игрок бросает 5 ножей, которые наносят урон и накладывают эффект кровотечения с вероятностью 40%.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201174132709142528/skills38.png">
                            Дымовая завеса
                    </p>
                    <ul>
                        <li>В дыму вора невозможно поймать.</li>
                        <li>Игрок становится невидимым и атакует всех врагов в радиусе действия каждые 0.25 секунд.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201174414738333716/skills746.png">
                            Печать смерти
                    </p>
                    <ul>
                        <li>Печати способны призывать нечистую силу.</li>
                        <li>Все противники получают эффект сильного проклятия в радиусе действия.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201174778724237453/icon_blade_dance.png">
                            Кровавый танец
                    </p>
                    <ul>
                        <li>Серия быстрых ударов - мощная техника, доступная лишь избранным.</li>
                        <li>Игрок делает рывки к противникам и наносит им урон.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                    <div class="thief-line"></div>
                    <p class="thief-subtitle">Пассивные умения</p>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201175036992692315/skills384.png">
                            Истощение маны
                    </p>
                    <ul>
                        <li>Воровские клинки, порой, выкованы не из обычной стали, добавляя загадочные силы этому оружию.</li>
                        <li>Игрок сжигает ману цели и наносит % от этого значения ввиде урона.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                    <div class="line"></div>
                    <p class="thief-skill">
                        <img
                            src="https://cdn.discordapp.com/attachments/1190943166229127178/1201175402736009236/skills324.png">
                            Удар наемника
                    </p>
                    <ul>
                        <li>Разбойники находят слабые места в броне противника, и отлично этим пользуются.</li>
                        <li>Игрок может наложить негативный эффект на цель при ударе с вероятностью 12%.</li>
                        <li>Тип навыка - искусство убийства.</li>
                    </ul>
                </div>

                <div>
                    <div class="thief-line"></div>
                    <p class="thief-subtitle">Древо улучшений</p>
                    <div class="thief-tree">
                        <img style="width: 100%;" src="https://cdn.discordapp.com/attachments/1190030669083070566/1193319409788403762/image_2024-01-05_05-07-08.png">
                    </div>
                </div>
            </div>
        </div>

        <%- footer %>
    </div>
</body>

</html>